html,
body,
#root {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

.body-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 100vh;
  margin: 20px;
}

h1 {
  font-size: 30px;
  color: gray;
  text-align: center;
}

.styled-hr {
  border: none;
  height: 1px;
  background-color: #cbcaca;
  width: 98%;
  margin: 10px;
  padding: 2px;
}

.sidebar {
  width: 200px;
  height: 100%;
  background-color: white;
  border: 2px solid lightgray;
  border-radius: 0.2rem;

  display: flex;
  flex-direction: column;

  position: relative;
  margin: 10px;
  align-self: center;
}
.sidebar-list {
  list-style: none;
  padding: 20px;
}

.sidebar-listitems {
  padding: 10px;
}

.sidebar-listitems a {
  text-decoration: none;
  font-weight: 700;
}
.body-containerRightSide {
  margin: 10px;
  width: 80%;
}

.body-containerRightSide h2 {
  margin: 10px;
}

.containerRightSide-items {
  display: flex;
  flex-direction: row;
}

.containerRightSide-items ul {
  list-style: none;
}
.containerRightSide-items ul li {
  display: flex inline;
  margin: 10px;
}

.lead-items {
  text-decoration: none;
  border: 1px solid purple;
  border-radius: 0.2rem;
  padding: 10px;
}

.RightSide-items-leadStatus-items {
  display: flex;
  flex-direction: row;
  gap: 10px;

  margin: 10px;
  font-weight: 500;
  font-size: large;
}

.RightSide-items-leadStatus-itemsTwo {
  border: 1px dotted grey;
  padding-left: 2px;
  padding-right: 2px;
}

/* filter button styling  */
.hidden-radio {
  display: none;
}

.filter-list {
  list-style: none;
  display: flex;
  gap: 10px;
  padding: 0;
}

.filter-btn {
  padding: 8px 16px;
  border: 1px solid gray;
  border-radius: 20px;
  cursor: pointer;
  background-color: white;
  transition: 0.3s;
}

.filter-btn:hover {
  background-color: #eee;
}

.filter-btn.active {
  background-color: #4f46e5;
  color: white;
  border: none;
}

footer {
  padding: 5px;
  background-color: rgb(247, 247, 247);
}

footer p {
  margin-left: 20px;
  color: gray;
}
