.meetup-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.meetup-sticky-wrapper {
  position: sticky;
  top: 80px;
  z-index: 10;
}

@media (max-width: 768px) {
  .meetup-sticky-wrapper {
    position: static;
  }
}
