body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9fafb;
}

/* .app-layout {
  display: flex;
  height: 100vh;
 
  overflow: hidden;
  
} */


/* .sidebar {
  width: 20%;
  min-width: 220px;
  background-color: #1f2937;
  color: white;
  padding: 20px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* SIDEBAR LIST */
/* .sidebar-list {
  list-style: none;
  padding: 0;
  width: 100%;
} */

/* SIDEBAR ITEM */
/* .sidebar-item {
  margin: 10px 0;
  text-align: center;
} */

/* SIDEBAR LINK */
/* .sidebar-item a {
  display: block;
  padding: 10px 0;
  color: #d1d5db;
  text-decoration: none;
  font-weight: 500;
  transition: 0.2s;
} */

/* HOVER */
/* .sidebar-item a:hover {
  color: #22c55e;
  background-color: #374151;
  border-radius: 6px;
} */

/* .report-main {
  flex: 1;
  padding: 20px 30px;
  background-color: #f9fafb;

  overflow-y: auto;
} */


/* .report-header {
  margin-bottom: 20px;
} */

/* .report-header h1 {
  font-size: 24px;
  font-weight: 600;
  color: #111827;
} */


.report-container {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}

/* TITLE */
.report-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #374151;
}


.report-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}


.report-card {
  background: #ffffff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.08);

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 200px;
  height: 300px;

}


/* .report-pie {
  height: 300px;
}

.report-bar {
  height: 300px;
} */

.report-pie,
.report-bar {
  width: 100%;
  height: 100%;
}


.report-summary {
  flex-direction: column;
  text-align: center;
}

.report-summary h4 {
  font-size: 32px;
  font-weight: 700;
  color: #2563eb;
  margin-bottom: 5px;
}

.report-summary p {
  font-size: 14px;
  color: #6b7280;
}


@media (max-width: 768px) {
  .report-grid {
    grid-template-columns: 1fr;
  }

  .report-card {
    height: 220px;
    /* smaller on mobile */
  }

}